.navigation {
    display: flex;
    width: 1920px;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(18, 24, 41, 0.8);
    margin: auto;
}
.logo{
    margin-left: 120px;
}
.navlinks {
    margin-right: 120px;
}
.link {
    color: #A8AEBF;
    font-weight: 200;
    font-size: 16px;
    margin-right: 32px;
}
.link:last-child{
    margin-right: 0;
}