.container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 24px;

}
.filmList {
    margin-top: 80px;
    padding-left:120px;
    padding-right: 120px;
    padding-bottom: 80px;
}
.title {
    color: #767E94;
    font-size: 32px;
    font-weight: 500;
}
@media (max-width: 1350px) {
    .container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 24px;
    }
}